@import "../variables";
@import "../mixins";

.service-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   margin: auto;
  margin: 30px auto;
  gap: 30px;

  .services-card {
    width: 100%;
    height: 156px;
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: center;
    // margin: 51px;
    border-radius: 10px;
  }
  .services-card img {
    width: 100px;
    height: 100px;
    // margin: auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // line-height: 1px;
    height: 100%;
    padding-right: 50px;
  }

  h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }
}
